includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/ddziaduch_PenaltyPoints_KernelDevDebugContainer.xml
    scanDirectories:
        - var/cache/dev/Symfony/Config
